$base-color: #009DA4;
$color:#5A5D63;


//checkbox

$checkboxfield-checkbox-size : 16px;
$checkboxfield-checkbox-margin : 16px;
$checkboxfield-checked-checkbox-color: #009DA4;
$field-label-width: '100%';
$checkboxfield-box-label-font-size: 14px;



//general classes
.border-gray{
    border: solid 1px #C1C2C5; //border doesn't work in @include., so you need to add this class in cls
}
  