@include button-ui(
  'button-bigger',
  $padding: 10px 13px, 
  $border-radius: 8px
);

@include button-ui(
  'button-smaller',
  $padding: 10px 6px, 
  $border-radius: 8px
);

@include button-ui(
  'button-bigger-primary',
  $background-color: #FFFFFF,
  $color: #5A5D63,
  $hovered-background-color: #E6E6E6
);
@include button-ui(
  'button-bigger-secondary',
  $background-color: #009DA4,
  $color: #FFFFFF,
  $hovered-background-color: #7AC8CC
);





